// 主颜色
$primary-color-1: #ef4034;
$primary-color-2: #fbebeb;
$primary-color-3: #ff3534;
$primary-color-4: #fff1d8;
$primary-color-5: #F28501;
$primary-color-6: #FFF1D8;
$primary-color-7: #FFD4A6;
$primary-color-8: #76ffe4;
$primary-color-9: #fffac9;
$primary-color-10: #FF5A5A;



// 背景色
$background-color-1: #f1f1f1;
$background-color-2: #F4F5F6;
$background-color-5: #f5f5f5;

// 文字色
$text-color-1: #333;
$text-color-2: #666;
$text-color-3: #999;
$text-color-4: #2A313D;
$text-color-5: #919CAC;

// 边框色
$border-color-1: #bbb;
$border-color-2: #eaeaea;
$border-color-3: #ccc;
$border-color-4: #ddd;
$border-color-5: #ececec;

// 基础色
$white: #fff;
$black: #000;

// 阴影
$shadow-1: 0 5px 8px 0 $text-color-4;
